<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Byl přidán nový článek.</title>


</head>

<body>
	<h2>Byl přidán nový článek na vašem Webu</h2>
    <p>Dobrý den, na Vašem webu byl právě přidán článek s Názvem: {$title}</p>
	<p><a n:href="Post:show {$id}">Přejít na článek.</a></p>

</body>
</html>
