parameters:


application:
	# catchExceptions: true
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
    dsn: 'mysql:host=127.0.0.1;port=3306;dbname=default_news'
    user: 'root'
    password: 'root'


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


di:
	export:
		parameters: no
		tags: no
