services:
	- App\Core\RouterFactory::createRouter
	- App\Model\PostManager
	- App\Model\CommentManager
	- App\Model\RoleManager
	- App\Model\UserManager


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
