services:
	- App\Model\Authenticator
	- App\Core\RouterFactory::createRouter


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
	model:
		in: %appDir%/Model
		classes:
		- *Manager
