{block content}
	<h1 n:block="title">Default News</h1>


	<div class="post" n:foreach="$posts as $post">
		<div class="date">{$post->created_at|date:'F j, Y'}</div>

		<h2><a n:href="Post:show $post->id">{$post->title}</a></h2>

		<div>{$post->content|truncate:256}</div>
	</div>

{/block}